/* RESET DEFAULT STYLES */
html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Conv_MyriadPro-Regular', 'Myriad Pro', PT Sans, serif;
    color: #fff;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
}

select, input, textarea {
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

:focus {
    outline: none;
}

input[type=submit] {
    cursor: pointer;
}

img, fieldset {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* style*/
body {
    width: 100%;
}

#tagCloud {
    position: absolute;
    display: block;
    height: 437px;
    width: 660px;
    border: solid blue 2px;
    margin: 0 auto;
    background: url("./img/img_bg.jpeg") no-repeat;

}

li, input {
    position: absolute;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #001100;
    border-radius: 5px;
    background-color: rgba(34, 34, 34, .30);
    opacity: .9;
    white-space: nowrap;
    cursor: pointer;
}

input{
    width: 100px;
}

i {
    display: none;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    background: url("./img/clear.png") center no-repeat;
    background-size: 28px auto;
    text-indent: -999px;
}

@media screen and (max-width: 768px){
    body{
        font-size: 20px;
    }
}